* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.navbar {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: black;

  justify-content: space-evenly;
}

.navbar>a,
h3 {
  padding: 15px 35px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

/* ================================= container ==================*/

.container{
  display: flex;
  /* border: solid black 3px; */
  margin: 20px;
  width: 100%;
  justify-content:space-evenly;


}
.container a{
  text-decoration: none;
  margin: 10px;
  /* border: solid violet 3px; */
}
.container img{
  width: 200px;
  /* borkder: solid green 4px; */
}
.container img:hover{
  width: 210px;
  transition: all 0.2s  cubic-bezier(0, 0.87, 0.25, 1);
}
.container .logo{
  width: 50px;

}
.container .logo:hover{
  width: 55px;
  transition: all 0.2s  cubic-bezier(0, 0.87, 0.25, 1);
}
.container div{
  /* border: black solid 3px; */
  text-align:center;
}