.navbar{
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    justify-content: space-evenly;
}

.navbar > a,h3{
    color: white;
    margin: 0;
    padding: 0;
    padding: 15px 35px; 
    text-decoration: none;
}
.navbar >a:hover{
    background-color: white;
    color: black;
}


.container{
    margin-top:50px;;
    display: flex;
    /* background-color: blue; */
    justify-content:flex-end;
}

.container > div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}


.welcome h2{
    color: rgb(37, 51, 198);
    margin-bottom :10%;;
}

.welcome a{
    margin-left: 25%;
}


.welcome input{
    color: white;
    background-color:rgb(37, 51, 198);
    width: 120px;
    height: 40px; 
    border: none;
    border-radius: 20px;
}

.welcome input:hover{
    color: black;
    background-color:rgb(37, 51, 198)
}

.image{
   width: 70%;
}

.Dashboardpanel {
    display: flex;
    flex-direction: column;
}

.Dashboardpanel .dashacc,.dashincomes,.dashexpenses,.dashcredits,.dashcards{
    display: flex;
    /* border: black solid 3px; */
    padding: 20px;
    margin: 20px;
}

.Dashboardpanel img{
    /* border: rgb(192, 0, 0) solid 3px; */
    width:400px ;
}
.Dashboardpanel p{
    font-size: 18px;
    padding: 20px;
    margin: 0 20px 0 20px;
    /* border: black solid 3px; */
}

.Dashboardpanel span{
    font-size: 30px;
    font-weight: 400;
}

